on property:sys.boot_completed=1
    start lieppos_microg_location_defaults

service lieppos_microg_location_defaults /system/bin/lieppos-microg-location-defaults.sh
    class late_start
    user root
    group root
    oneshot
    disabled
